* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    background: #CC9FFF;
    height: 100vh;
    padding: 50px;
}

button {
    padding: 45px;
    margin: 0px 34px;
    background: aqua;
    border-color: aqua;
    border-radius: 10px;
    font-weight: 600;
}

.far {
    font-size: 34px;
}

#output {
    margin-top: 50px;
    font-weight: bold;
    font-size: 1.5em;
}
